/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%; background: linear-gradient(to bottom, #1e528e 0%,#728a7c 50%,#e9ce5d 100%);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
